<h1>All Events</h1>

<% @events.each do |event| %>
  <div>
    <p>Title: <%= event.title %></p>
    <p>Description: <%= event.description %></p>
    <p>Location: <%= event.location %></p>
    <p>Date: <%= event.date %></p>
    <p>Event host: <%= User.find(event.user_id).name %>
  </div>
<% end %>